
TAVILY_API_KEY = "tvly-X5ZdZ3z8Ow411111111111111"
OPENAI_API_KEY = "dummy"
YOUTUBE_DATA_API_KEY="AIzaSyBXJvBiIld1111111111111111"
BASE_URL = "http://localhost:1234/v1"
MODEL = "google-gemma-3-4b-it-qat-small"